[*]
charset = utf-8
end_of_line = lf

[*.java]
charset = GBK
indent_style = space

[*.bnf]
indent_style = space
indent_size = 4

[*.xml]
indent_style = tab
indent_size = 4

[*.ygg]
indent_style = space
indent_size = 4